<%- include("partials/header") %>

<div class="box" id="about">
    <h2>A simple ToDo App</h2>

    <p>This is a simple ToDo Web Application that shall eventually be enhanced to a Kanban board</p>
    <p>It should help MCIT Online students track their tasks per course. Students can also see what tasks their (anonymous) classmates have recently completed.</p>
  
    <div class="box_login" id="id_login">
        <form action="/login" class="form-signin" method="post">
            <!--  <h1 >Please sign in</h1>-->
            <!-- sends the inputted username to be routed to the passport authenticator-->
            <label for="inputEmail" class="sr-only">Email Address</label>
            <input type="email" id="inputEmail" class="form-control" placeholder="Email Address" name = "username" required>
            <!-- sends the inputted password to be routed to the passport authenticator-->
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" name = "password" required> 
            <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
        </form>

       <!--  <hr>-->

        <p>Need an account? <a href="/signup">Signup</a></p>

    <!--<a href="/login" class="button"><span class="fa fa-user"></span>Login!</a>
    <a href="/signup" class="button"><span class="fa fa-user"></span>Register!</a>-->
    </div>
</div>

<%- include("partials/footer") %>