<%- include("partials/header") %>

<div class="box" id="about">
    <h2>A simple ToDo App</h2>

    <p>This is a simple ToDo Web Application that shall eventually be enhanced to a Kanban board</p>
    <p>It should help MCIT Online students track their tasks per course. Students can also see what tasks their (anonymous) classmates have recently completed.</p>
  
    <a href="/login" class="button"><span class="fa fa-user"></span>Login!</a>
    <a href="/signup" class="button"><span class="fa fa-user"></span>Register!</a>
</div>

<%- include("partials/footer") %>